.content-container{
    
    &__title{
        margin-bottom: 1rem;
        font-size: $font-size-large;

        &:after{
            content: '';
            display: inline-block;
            background: $text;
            height: 2px;
            width: 64px;
            margin: 0 0 .25rem 1rem;
        }
    }
}