.post {
	margin-bottom: 4rem;
	
	&__title {
		
	}

	&__title-link {
		color: $text;

		@include hoverText($text);
	}

	&__meta {
		margin-bottom: 2rem;
	}


	&--single{
		.post {
			&__title {
				font-size: 2.5rem;
	        	line-height: 3rem;
	        	margin: 0 0 1rem;

	        	@media #{$lrg} {
	        		font-size: 3rem;
			        line-height: 4rem;
			        margin: 0 0 1rem;
	        	}
			}

		}
	}
}