// Hero
.hero {
    position: relative;
    padding: 0 0 1rem;
    @extend .section-margin;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    &__overlay {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: map-get($overlay, image);
        z-index: 0;
    }
    
    &__container{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__content {
        position: inherit;
        z-index: 3;
    }

    &__cta-icon{
        margin-left: .25rem;
    }
    &__video {display: none}

    &__headline {margin: 0 0 1rem;}
    &__subheading {margin: 0 0 1.5rem;}
    
    svg #Logo-Black {fill: white}
    #hamburger, #hamburger i {color: white}
    


}

@media #{$med-device} {
    .hero {
        &__container{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        &__cta{
            max-width: 24rem
        }
        &__video {display: block;}
        &__video-player {
            width: 100%;
            height: 16rem;
        }
    }
}

@media #{$lrg} {
    .hero {
        &__cta{
            max-width: 29rem
        }
        padding: 0 0 2rem;
        &__subheading {margin: 0 0 2rem}
        &__video-player {height: 18rem}
        &__cta {max-width: calc(50% - 2rem)}
    }
    
}

@Media #{$xlrg} {
    .hero{
        &__video-player {height: 21.5rem}
        &__cta {}
        &__container {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}