// Mixins

// power
@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
        $ret: $ret * $x;
    }
  } 

  @else {
    @for $i from $y to 0 {
        $ret: $ret / $x;
    }
  }

  @return $ret;
}


// Mixin that lets you choose hover color
@mixin hoverColor($brandColor) {
    &:hover{
        color: $brandColor;  
    }
}

@mixin hoverText($color) {
  text-decoration: none;
  transition: map-get($transition, short);
  &:hover, &:focus {
    color: lighten($color, 20%);
  }
}