
* {box-sizing: border-box}
// blog body
body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    // position: relative;
    
    header, .hero, .container--flex, footer {flex: 1 100%;}
    
    .main {flex: 100%}
    
    .main--blog {
        @extend .med--col-5;
        @extend .lrg--col-6;
        @extend .lrg--offset-1;

        
    }

    .main--blog, .main--case-study, .main--narrow{
        h2{
            margin-bottom: .5rem;
        }
        h3{
            margin-bottom: .25rem;
        }
        // h2, h3, h4, h5 {
        //     margin-bottom: 0;
        // }

        figure {
            margin-bottom: 1rem;
        }

        ul, ol {
            margin-bottom: 2rem;
        }

        ol{
            list-style: decimal;
            padding-left: 1rem;
        }

        li {
            margin-bottom: 1rem;
        }

        // @media #{$med-screen} {
        //     h2, h3, h4, h5 {
        //     margin-bottom: 0;
        //     }
        // }
    }

    .main--narrow{
        max-width: $container-narrow;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;

        // h2, h3, h4, h5, p, figure, .btn {
        //     max-width: $container-narrow;
        //     margin-left: auto;
        //     margin-right: auto;
        // }

        img{
            height: auto;
        }

        @media #{$med-screen} {
            margin-bottom: 4rem;
        }
    }
    
}


.main {
    &--blog, &--default {
        padding: 0 1rem;

        @media #{$med-screen}{
            margin-bottom: 4rem;
        }
    }
    &--no-padding {
        padding: 0;
        flex: 1 0 0;
    }
}

img {max-width: 100%}
.img--shadow{
    img {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                    0 1px 2px rgba(0,0,0,0.24);
    }
}
.padding-1, .padding {padding: 0 1rem}

.body-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}